# Exemplo de configuração para o Streamlit Cloud ou desenvolvimento local.
# Para usar localmente, crie um arquivo chamado 'secrets.toml' nesta mesma pasta (.streamlit/)
# NUNCA envie o arquivo 'secrets.toml' com suas senhas reais para o GitHub!

# URL de conexão do PostgreSQL (Exemplo do Supabase ou Neon)
# Se não preenchida, o sistema usará automaticamente o banco SQLite local (banco.db)
# DATABASE_URL = "postgresql://postgres:[dD@34530484843299]@db.cgprvmjvkarjpevvahlg.supabase.co:5432/postgres"

# (Opcional) Senha para controle de acesso ao sistema
# APP_PASSWORD = "sua_senha_aqui"
